
<!DOCTYPE html>
<html>
    <head>
        <title>DeciMill</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    </head>
    <body>

        <div id="container">

            <div id="header" style="position: relative; z-index: 999;">

                <div class="header-wrapper">
                    <div class="header-menu">
                        <a href="/">Home</a>
                        <a href="/user/logout">Logout</a>
                    </div>
                    <a href="/">
                        <img class="header-logo" src="/application/images/logo.png" />
                    </a>
                </div>

            </div>
            
            <div id="body">

                <div style="background-color: #fff; border-bottom: solid 1px #e8e9ea;">
                    <div style="width: 1000px; margin: 0 auto;">
                        <div style="padding: 17px 8px;">
                            <i class="fa fa-folder-open" style="font-size: 20px; color: #777; margin-right: 10px;"></i>
                            <span style="font-size: 20px; color: #666;">
                                <a href="/study/1" style="color: #666; text-decoration: none;">Case study: UCL Computer Science IT Estate</a>
                            </span>
                        </div>
                    </div>
                </div>
                
                <div id="content">

                    <div class="content-left">

                        <div class="content-menu-box">

                            <div class="content-menu-box-header">
                                <i class="fa fa-code-fork" style="margin: 0 7px 0 2px;"></i> Models
                            </div>

                            <a class="content-menu-box-item"
                               href="/model/1/1">
                                <div class="content-menu-box-item-wrapper modelMenuItem" data-modelid="1">
                                    UCL: Strategic Sustainability Model            </div>
                            </a>
                            <a class="content-menu-box-item"
                               href="/model/1/2">
                                <div class="content-menu-box-item-wrapper modelMenuItem" data-modelid="2">
                                    ICT: Energy Consumption Model for ICT Estate            </div>
                            </a>

                            <a href="/add_model/1" class="content-menu-box-item">
                                <div class="content-menu-box-item-wrapper" style="text-align: center;">
                                    <i class="fa fa-plus" style="font-size: 14px; color: #555;"></i> Add model
                                </div>
                            </a>

                        </div>

                        <div class="content-menu-box" style="margin-top: 20px;">

                            <div class="content-menu-box-header">
                                <i class="fa fa-file-image-o"></i> Scenarios
                            </div>

                            <a class="content-menu-box-item"
                               href="/scenario/1/1">
                                <div class="content-menu-box-item-wrapper scenarioMenuItem" data-scenarioid="1">
                                    DR: Desktop Replacement            </div>
                            </a>
                            <a class="content-menu-box-item"
                               href="/scenario/1/4">
                                <div class="content-menu-box-item-wrapper scenarioMenuItem" data-scenarioid="4">
                                    TC: Thin Clients Replacement            </div>
                            </a>
                            <a class="content-menu-box-item"
                               href="/scenario/1/5">
                                <div class="content-menu-box-item-wrapper scenarioMenuItem" data-scenarioid="5">
                                    DCM: Data Centre Migration            </div>
                            </a>

                            <a href="/add_scenario/1" class="content-menu-box-item">
                                <div class="content-menu-box-item-wrapper" style="text-align: center;">
                                    <i class="fa fa-plus" style="font-size: 14px; color: #555;"></i> Add scenario
                                </div>
                            </a>


                        </div>

                        <div class="content-menu-box" style="margin-top: 20px;">

                            <div class="content-menu-box-header">
                                <i class="fa fa-file-text-o"></i> Reports
                            </div>

                            <a class="content-menu-box-item"
                               href="/report/1/1">
                                <div class="content-menu-box-item-wrapper queryMenuItem" data-queryid="1">
                                    Main            </div>
                            </a>
                            <a class="content-menu-box-item"
                               href="/report/1/2">
                                <div class="content-menu-box-item-wrapper queryMenuItem" data-queryid="2">
                                    Dennis Timm            </div>
                            </a>

                            <a href="/add_report/1" class="content-menu-box-item">
                                <div class="content-menu-box-item-wrapper" style="text-align: center;">
                                    <i class="fa fa-plus" style="font-size: 14px; color: #555;"></i> Add report
                                </div>
                            </a>

                        </div>
                    </div>

                    <style type="text/css">
                    </style>

                    <div class="content-right">
                        <div style="height: 1000px;"></div>
                    </div>
                    <!-- /#content -->
                </div>

                <!-- /#body -->
            </div>

            <div id="footer">
            </div>

    </body>
</html>